body {
	background-color: #4c1d2b;
	letter-spacing: 1px;
}

h1 {
	color: #cfc307;
	text-align: center;
	padding-bottom: 15px;
}

p {
	padding: 15px 10px;
	color: #fff;
}

table {
	width: 100%;
	margin: 0 auto;
	margin-top: 40px;
	color: #fff;
}

th {
	color: #cfc307;
}

.form-btn {
	color: #cfc307;
	padding: 15px;
	border: 1px solid #cfc307;
}

.form-btn:hover {
	color: #4c1d2b;
	background-color: #cfc307;
	text-decoration: none;
}

.buttons {
	text-align: center;
	margin-top: 35px;
}

.form-btn:visited,.form-btn:focus{
	color: #4c1d2b;
	background-color: #cfc307;
	text-decoration: none;
}