/******************************
JUMBOTRON 1
******************************/

.row-masthead {
	height: 700px;
    width: 100%;
}

.logo {
	margin-top: 50px;
	 -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
}

@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(10deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}


/*.logo:hover {
	transform: scale(1.2) rotate(45deg);
	transition: 2s;
}*/

#mainTitle,
#mainTitleLink {
	color: #cfc307;
}

.titles{
	color: #fff;
	margin-top: 100px;
}

.titles h1 {
	font-weight: 100;
	font-size: 60px;
	margin-bottom: 20px;
	letter-spacing: 5px;
}

.titles p{
	font-size: 14px;
    line-height: 24px;
    font-weight: 100;
    letter-spacing: 1.5px;
}

.titles a {
	color: #fff;
	font-size: 13px;
	letter-spacing: 1.5px;
	font-weight: 400;
}

.cricket img {
	margin-top: -15px;
	margin-left: -220px;
	width: 700px;
	height: 100%;
}

/******************************
FIRST COLUMNS - start something new
******************************/

.text {
	padding-bottom: 50px;
}

.first_content h2 {
	font-size: 35px;
    color: #222626;
    margin: 50px 0;
    font-weight: 300;
    letter-spacing: 2.5px;
    padding-top: 50px;
}

.first_content h4 {
	font-size: 14px;
    color: #b8b8b8;
    margin-bottom: 30px;
    line-height: 20px;
    font-weight: 200;
    letter-spacing: 1px;
}

.first_content p {
	font-size: 14px;
    color: #959595;
    line-height: 24px;
    font-weight: 200;
    letter-spacing: .5px;
}

.first_content h5 {
	font-size: 14px;
    color: #b8b8b8;
}

.first_content p {

}

/******************************
BOXED GRID
******************************/

.container-full {
	margin-top: 50px;
}

.grid {
	height: 260px;
	color: #fff;
}

.grid.col-sm-4, .grid.col-sm-8 {
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

.grid a {
	color: #fff;
	font-size: 16px;
	letter-spacing: 1.5px;
	font-weight: 100;
}

.grid h2 {
	font-size: 30px;
	font-weight: 100;
	letter-spacing: 2.5px;
}

.grid p {
	font-size: 14px;
	font-weight: 100;
	line-height: 24px;
	font-weight: 100;
	letter-spacing: 1px;
	padding-top: 10px;
	
}

.pink {
	background: #f5989d;
}

.purple {
	background: #615f7d;
}

.image01 {
	background: url('../assets/image01.jpg') no-repeat;
	background-position: center;
	opacity: 0.7;
}

.image02 {
	background: url('../assets/image02.jpg') no-repeat;
	background-position: center;
	opacity: 0.7;
}

.green {
	background: #82ca9c;
}

.blue {
	background: #3d8fce;
}


/******************************
FOUR COLUMN GRID - a look at the detail
******************************/

.whole-text {
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}

.sub-title h2 {
	font-size: 35px;
    color: #222626;
    margin-bottom: 30px;
    font-weight: 100;
    letter-spacing: 2.5px;
}

.col {
    color: #959595;
}

.cricket,
.pool,
.darts {
	display: flex;
	flex-direction: column;
}

.firstXi,
.secondXi,
.devXi,
.batsmen,
.bowlers {
	display: flex;
	justify-content: space-around;
}

/******************************
JUMBOTRON 2
******************************/

.jumbo_2 {
	height: 700px;
    width: 100%;
}

/******************************
JUMBOTRON 3
******************************/

.jumbo_3 {
	background: #fff;
	margin-bottom: 0;
}

.reasons h2 {
	color: #222626;
	font-size: 35px;
	font-weight: 100;
	letter-spacing: 2.5px;
	margin-bottom: 30px;
}

.reasons h4 {
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 700;
	color: #b8b8b8;
}

.reasons p {
	font-size: 15px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 100;
    margin-top: 20px;
    color: #959595;
}

.reasons.history {
	padding-bottom: 50px;
}

/******************************
JUMBOTRON 4
******************************/

.jumbo_4 {
	background: #f6f7fa;
	margin: 0;
}

.label-left {
	background: #e1e1e1;
}

.label-right{
	background: #bd8cbf;
}

.col-right {
	background: #fff;
}

.btn {
	background: #82ca9c;
	color: #fff;
}

.glyphicon {
	padding-left: 20px;
}

.content {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 92.5px;
	padding-right: 92.5px;
}

.content h2 {
	font-size: 35px;
	font-weight: 100;
	letter-spacing: 2.5px;
	margin-bottom: 30px;
}

.content p {
	font-size: 15px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 200;
    margin-top: 20px;
    color: #c5c5c5;
}

/******************************
JUMBOTRON 5
******************************/

.jumbo_5 {
	background: #192431;
	margin-bottom: 0;
}

.complete-text {
	padding-top: 50px;
	margin-bottom: 100px;
}

.top-row h4 {
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 30px; 
}

.top-row p {
	font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 100;
    color: #fff;
}

.bottom-row h4 {
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 20px; 
	margin-top: 30px;
}

.bottom-row p {
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 100;
	color: #fff;
	line-height: 5px;
}

.bottom-row a {
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 100;
	color: #fff;
	line-height: 20px;
	display: block;
}

#address p {
	padding-top: 5px;
}

.text-box p {
	color: #425264;
	margin-top: 10px;
	font-size: 13px;
	font-weight: 200;
}

.form-control {
	height: 60px;
}

.socialMedia {
	display: flex;
}

.fa {
	color: white;
	padding: 25px 25px 0 0;
}

/******************************
MEDIA QUERIES
******************************/

@media (max-width: 992px) {
	.text {
		padding-top: 0;
		padding-bottom: 20px;
	}

	.whole-text {
		padding-top: 0;
	}

	.titles {
		text-align: center;
	}
}

@media screen and (max-width: 575px) {
	.titles h1 {
		font-size: 44px;
	}
}

@media screen and (min-width: 576px) {
	.break {
		display: none;
	}
}












