// Variables ---------------------------/

$color-primary: #670734;
$color-secondary: #cfc307;
$grid-pink: #f5989d;
$grid-purple: #615f7d;
$grid-green: #82ca9c;
$grid-blue: #3d8fce;
$color-plain: #fff;
$color-footer: #192431;
$color-textbox: #425264;

$color-h2: #222626;
$color-h4: #b8b8b8;
$color-h5: #b8b8b8;
$color-body-p: #959595;